<html>
  <body>
    <center>
      <h1>The current server platform is {{ ansible_distribution }} </h1>
      <br>
      <h1>The current server hostname is {{ ansible_hostname }} </h1>
       <br>
      <h1>The current server user is {{ user_name }} </h1>
      </center>
  </body>
</html>
